*{
	margin:0;
	padding: 0;
	font-family: tahoma, sans-serif;
	box-sizing: border-box;
}

html{
	background-color: #ffdeec;
}

.chatbox{	
	width: 500px;
	min-width: 390px;
	height:600px;
	background: #ff96a7;
	padding: 25px;
	margin: 20px auto;
	box-shadow:  0 3px #ccc;
}

#chatlogs{
	padding: 10px;
	width: 100%;
	height: 450px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#chatlogs::-webkit-scrollbar{
	width: 10px;	
}

#chatlogs::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0,0,0,0.1);
}

.chat{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	margin-bottom: 10px;
}

.chat .user-photo{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
}
.chat .user-photo img{
	width: 100%;
	height: 100%
}

.chat .chat-message{
	width: 80%;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
}

.botText .chat-message{
	background: #ffbfc3;
}


.userText .chat-message{
	background: #ffb4bc;
	order: -1;
}

#userInput{
	margin-top: 20px;
	display: flex;
	align-items: flex-start;
}

#userInput input{
	background: #ffcece;
	width: 70%;
	height: 50px;
	border: 2px solid #eee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 18px;
	color: #333;
}

#userInput input:focus{
	background: #fff;
}

#userInput input::-webkit-scrollbar{
	width: 10px;	
}

#userInput input::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: rgba(0,0,0,0.1);
}

#userInput button{
	background: #ff96a7;
	padding: 5px 15px;
	font-size: 30px;
	color: #fff;
	border-radius: none;
	margin: 0 10px;
	border-radius: 15px;
	box-shadow: 0 3px 0 #0eb2c1;
	cursor: pointer;

	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
}


#userInput button:hover{
	background: #13c8d9;
}

#mainNavbar .navbar-brand{
  color: #262626;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}
#mainNavbar .nav-link{
  color: #fff;
}
#mainNavbar .navbar-nav {
  text-align: center;
}
#mainNavbar .nav-link a{
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
}
#mainNavbar .nav-link:hover{
  color: #262626;
}
#mainNavbar{
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar{
  padding: 0.5rem 6rem;
}
.navbar.scrolled{
  background-color: #f296cd;
  transition: background 1000ms;
}

div#head {
	text-transform: uppercase;
    text-align: center;
    padding-top: 8.5%;
}
