<!DOCTYPE html>
<html>
<head>
	<title>WeCare.ai</title>
	<link rel="icon" type="image/png" sizes="32x32" href="images/6.jpg">
	<link rel="stylesheet" type="text/css" href="css/stats.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body style="background-color: #ffdeec;">
	<nav id="mainNavbar" class="navbar navbar-light  navbar-expand-lg fixed-top">
		<a href="/" class="navbar-brand">WeCare.ai</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navLinks">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a href="/home" class="nav-link">HOME</a>
				</li>
				<li class="nav-item">
					<a href="/home#s1" class="nav-link">ABOUT</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">CHATBOX</a>
				</li>
				<li class="nav-item">
					<a href="/home#s3" class="nav-link">TEAM</a>
				</li>
			</ul>			
		</div>
	</nav>

<!-- Section1 -->
	<section class="container-fluid px-0 mt-5">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-2 order-md-1">
				<img class="img-fluid" src="https://www.breastcancerindia.net/images/statistics/trend01.gif">
			</div>
			<div class="col-md-6 order-1 order-md-2">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<p class="lead">In India, we are now witnessing more and more numbers of patients being diagnosed with breast cancer to be in the younger age groups (in their thirties and forties).Almost 48% patients are below 50. An increasing numbers of patients are in the 25 to 40 years of age, and this definitely is a very disturbing trend.Of course, one particular reason for higher numbers of younger patients is our population pyramid, which is broad at the base and middle and narrow at top, which means that we have a huge population in the younger age group and much lesser in older age group</p>
					</div>
				</div>
			</div>
		</div>
	</section>
<!-- Section2 -->
	<section class="container-fluid px-0 mt-5">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-1">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<p class="lead">Breast Cancer in India made a huge jump - Breast Cancer became the most common cancer in women in India, the most common cancer both males and females combined, the most common cancer in cities in India and the most common cancer in rural areas as well. <br>The the numbers rose so rapidly, that the difference on numbers between breast and cervical cancer was quite stark.  <br> In most Indian cities, Breast Cancer amounted to almost 25 to 32 percent of all cancers in women, whereas Cervical cancer was around 8 to 9 percent.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 order-2">
				<img class="img-fluid" src="https://www.breastcancerindia.net/images/statistics/trend03.gif">
			</div>
		</div>
	</section>

	<section class="container-fluid px-0 mt-5">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-2 order-md-1">
				<img class="img-fluid" src="https://www.breastcancerindia.net/images/statistics/trend04.gif">
			</div>
			<div class="col-md-6 order-1 order-md-2">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<p class="lead">Initially, before the 2008 statistics, cancer of the Cervix was the most common cancer in women in India and Breast cancer was second most common.<br>When the 2008 statistics came out, Breast Cancer overtook Cervical cancer as the most common cancer in Indian cities. But Cervical cancer was still common in rural areas.<br>The Image shows trend of breast cancer in a few cities like Mumbai, Bengaluru, Chennai, Thiruvananthapuram and Dibrugarh. Of course, this graph is old, upto 2006 only but still it shows the rising trend in all cities.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container-fluid px-0 mt-5">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-1">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<p class="lead">The over all 5 year survival for breast cancer has increased from 75% in 1970's to almost 89% in 2005 (According to recent US SEER data, the five year overall survival in US is now more than 95%). This means that, out of every 100 women with breast cancer in the US, 95 women are likely to survive for atleast 5 years (And most of them will cross 10 years and 15 years and 20 years as well).<br> There are barely any similar statistics for India available, but a rough estimate from the PBCR and HBCCR reports is that, the 5 years survival for Breast Cancer in women in India is not even 60%.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 order-2">
				<img class="img-fluid" src="https://www.breastcancerindia.net/images/statistics/trend02.gif">
			</div>
		</div>
	</section>

	<section class="container-fluid px-0 mt-5">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-1">
				<img class="img-fluid" src="https://www.breastcancerindia.net/images/statistics/stat-early-incidence.png">
			</div>
			<div class="col-md-6 order-1 order-md-2">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<p class="lead">'Incidence' means the number of women who were newly detected with breast cancer in that year. For the year 2018, 162,468 women were newly detected with breast Cancer in India. Also, Breast Cancer accounted for 27.7% of all newly detected cancers in women. Which means, roughly, one in four newly detected cancer in women in India was breast cancer</p>
					</div>
				</div>
			</div>
			
		</div>
	</section>

	<section class="container-fluid px-0 mt-5">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-1">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<p class="lead">'Mortality' means the number of women who died due to breast cancer in that year. For the year 2018, 87,090 women died due to breast Cancer in India. Breast Cancer accounted for about 23.5% of all cancer related deaths in women in India. Which means that, almost about one in four deaths due to cancer, in women in India, was due to breast cancer.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 order-2">
				<img class="img-fluid" src="https://www.breastcancerindia.net/images/statistics/stat-early-mortality.png">
			</div>
		</div>
	</section>

	<section class="container-fluid px-0 mt-5">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-2 order-md-1">
				<img class="img-fluid" src="https://www.breastcancerindia.net/images/statistics/stat-early-25.png">
			</div>
			<div class="col-md-6 order-1 order-md-2">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<p class="lead">61,264 out of an estimated total 186,965 cases of cancer, were due to breast cancer, for the age group of 25 to 49 years.<br>21,892 women died of breast cancer for this age group.<br>Cancer of the Cervix and Cancer of the Ovary are the second and third most common cancers in this age group. These three account for more than 60 percent cancers in women in 25 to 49 age group, in India.<br> The breast cancers in 25 to 49 years age group accounted for 37.70% of all breast cancers in women in India, for the year 2018.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="container-fluid px-0 mt-5">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-1">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<p class="lead">75,574 out of an estimated total 271,076 cases of cancer, were due to breast cancer, for the age group of 50 to 69 years.<br>44,051 women died of breast cancer for this age group.<br>Cancer of the Cervix and Cancer of the Ovary are the second and third most common cancers in this age group. These three account for about 50 percent cancers in women in 50 to 69 age group, in India.<br>The breast cancers in 50 to 69 years age group accounted for 46.50% of all breast cancers in women in India, for the year 2018.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 order-2">
				<img class="img-fluid" src="https://www.breastcancerindia.net/images/statistics/stat-early-50.png">
			</div>
		</div>
	</section>

	<section class="container-fluid px-0 mt-5">
		<div class="row align-items-center text-center px-0">
			<div class="col-md-6 order-2 order-md-1">
				<img class="img-fluid" src="https://www.breastcancerindia.net/images/statistics/stat-early-70.png">
			</div>
			<div class="col-md-6 order-1 order-md-2">
				<div class="row  justify-content-center">
					<div class="col-10 col-lg-8 mb-5 mb-md-0">
						<p class="lead">25,056 out of an estimated total 107,165 cases of cancer, were due to breast cancer, for the age group of 70 and above.<br>20,938 women died of breast cancer for this age group.<br>Cancer of the Cervix and Cancer of the Lip and Oral Cavity are the second and third most common cancers in this age group.<br>The breast cancers in 70 years and above age group accounted for 15.50% of all breast cancers in women in India, for the year 2018.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
    	$(function(){
    		$(document).scroll(function(){
    			var $nav = $("#mainNavbar");
    			$nav.toggleClass("scrolled",$(this).scrollTop()>$nav.height());
    		})
    	});
    </script>

</body>
</html>